/* 
 * ぽよんとしたイメージのアニメーション
 */
@layer utilities {
  .animate-poyon {
    animation: poyon 0.3s ease-out forwards;
  }
}

@keyframes poyon {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}