/* 幅 */
::-webkit-scrollbar {
  width: 10px;
}

/* トラック（背景） */
::-webkit-scrollbar-track {
  margin: 16px;
  background: theme('colors.slate.200');
  border-radius: 6px;
}

/* サム（動く部分） */
::-webkit-scrollbar-thumb {
  background: theme('colors.slate.400'); /* ハンドルの色 */
  border-radius: 6px;
}

/* ホバー */
::-webkit-scrollbar-thumb:hover {
  background: theme('colors.slate.500');
}
